/* Reset */
* {
  box-sizing: border-box;
  font-family: monospace;
}

/* Page */
body {
  margin: 0;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Title */
.title {
  color: #529600;
  margin-bottom: 30px;
  font-size: 2.5rem;
}

/* Tagline */
.tagline {
  color: #b5b5b5;
  font-family: monospace;
  font-size: 1.1rem;
  margin-top: -10px;
  margin-bottom: 30px;
  text-align: center;

  opacity: 0;
  transform: translateY(20px);

  animation: slideUpFade 0.6s ease forwards;
  animation-delay: 0.3s;
}

/* Animation */
@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Center container */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 16px;
}

/* Card */
.login-card {
  border: 2px solid #529600;
  border-radius: 10px;
  padding: 24px;
  width: 100%;
  max-width: 400px;
  padding-bottom: 10px;
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs */
input {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid #444;
  padding: 10px;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  border-color: #529600;
}

/* Button */
button {
  margin-top: 0px;
  background-color: #529600;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #6bbf00;
}

.register-link {
  text-align: center;
  font-family: monospace;
  font-size: 10px;
  color: #b5b5b5;
  display: none;
}

.register-link a {
  color: #529600;
  text-decoration: none;
  margin-left: 5px;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Error */
#error {
  color: red;
  margin-top: 10px;
}

.error-text {
  color: #ff4d4d;
  font-family: monospace;
  font-size: 10px;
  text-align: center;
  margin: 5px;
}

/* Feedback container (hidden by default) */
.auth-feedback {
  text-align: center;

  opacity: 0;
  transform: translateY(20px);
  max-height: 0;
  overflow: hidden;

  margin-top: -8px;

  display: flex;
  flex-direction: column;
  gap: 4px;

  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    max-height 0.3s ease;
}

/* When visible */
.auth-feedback.show {
  opacity: 1;
  transform: translateY(0);
  max-height: 200px;
}

/* Mobile tweaks */
@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .login-card {
    padding: 20px;
  }
}

